.button-low-normal {
    -fx-border-color: #FFFFFF;
    -fx-pref-width: 200px; /* Желаемая ширина */
    -fx-pref-height: 70px; /* Желаемая высота */
    -fx-min-width: 200px; /* Минимальная ширина */
    -fx-min-height: 70px; /* Минимальная высота */
    -fx-max-width: 200px;
    -fx-max-height: 70px;
    -fx-background-color: #005286;
    -fx-text-fill: #FFFFFF;
    -fx-border-width: 2;
    -fx-background-radius: 0;
    -fx-border-radius: 0;
}
.button-low-normal:disabled {
    -fx-opacity: 1.0;
}
.button-low-enabled {
    -fx-border-color: #FFFFFF;
    -fx-pref-width: 200px; /* Желаемая ширина */
    -fx-pref-height: 70px; /* Желаемая высота */
    -fx-min-width: 200px; /* Минимальная ширина */
    -fx-min-height: 70px; /* Минимальная высота */
    -fx-max-width: 200px;
    -fx-max-height: 70px;
    -fx-background-color: #6AB74D;
    -fx-text-fill: #FFFFFF;
    -fx-border-width: 2;
    -fx-background-radius: 0;
    -fx-border-radius: 0;
}
.button-low-enabled:disabled {
    -fx-opacity: 1.0;
}
.button-low-warning {
    -fx-border-color: #FFFFFF;
    -fx-pref-width: 200px; /* Желаемая ширина */
    -fx-pref-height: 70px; /* Желаемая высота */
    -fx-min-width: 200px; /* Минимальная ширина */
    -fx-min-height: 70px; /* Минимальная высота */
    -fx-max-width: 200px;
    -fx-max-height: 70px;
    -fx-background-color: #D9232A;
    -fx-text-fill: #FFFFFF;
    -fx-border-width: 2;
    -fx-background-radius: 0;
    -fx-border-radius: 0;
}
.button-low-warning:disabled {
    -fx-opacity: 1.0;
}

.image-button {
    -fx-content-display: graphic-only;
    -fx-padding: 0px;
    -fx-background-radius: 0px;
    -fx-text-alignment: right;
    -fx-border-color: #000000;
    -fx-border-width: 2;
    -fx-background-color: #FFFFFF;
}
.image-button:disabled {
    -fx-opacity: 1.0;
}
.image-button-main {
    -fx-content-display: top;  /* Размещаем текст под изображением */
    -fx-alignment: center;         /* Выравнивание по центру */
    -fx-padding: 2px;             /* Небольшой отступ */
    -fx-background-radius: 0px;
    -fx-wrap-text: true;
    -fx-line-spacing: -5px;
    -fx-text-alignment: center;   /* Выравнивание текста по центру */
    -fx-border-color: #000000;
    -fx-border-width: 2px;
    -fx-background-color: #FFFFFF;
    -fx-graphic-text-gap: 5px;
    -fx-background-insets: 0;
    -fx-border-insets: 0;
}
.image-button-main .graphic {
    -fx-alignment: top-center;
}
.image-button:disabled {
    -fx-opacity: 1.0;
}
.text-object {
    -fx-border-color: #000000;
    -fx-background-color: #FFFFFF;
    -fx-border-width: 1;
    -fx-background-radius: 0;
    -fx-border-radius: 0;
}
.text-object:disabled {
    -fx-opacity: 1.0;
}
.imageview-base {
    -fx-padding: 0px;
    -fx-alignment: center;
}
.phase-button {
    -fx-border-color: #000000;
    -fx-pref-width: 200px; /* Желаемая ширина */
    -fx-pref-height: 70px; /* Желаемая высота */
    -fx-min-width: 200px; /* Минимальная ширина */
    -fx-min-height: 70px; /* Минимальная высота */
    -fx-max-width: 200px;
    -fx-max-height: 70px;
    -fx-background-color: #FFFFFF;
    -fx-text-fill: #6AB74D;
    -fx-border-width: 1;
    -fx-background-radius: 0;
    -fx-border-radius: 0;
    -fx-background-insets: 0;
    -fx-border-insets: 0;
}
.phase-button:disabled {
    -fx-background-color: #CBCCCB;
    -fx-opacity: 1.0;
}
.contacts-imageview {
    -fx-alignment: center;         /* Выравнивание по центру */
    -fx-padding: 0px;             /* Небольшой отступ */
    -fx-max-height: 50px;
    -fx-max-width: 50px;
    -fx-background-radius: 0px;
    -fx-border-color: #000000;
    -fx-border-width: 1px;
    -fx-background-color: #FFFFFF;
    -fx-background-insets: 0;
    -fx-border-insets: 0;
}
.contacts-imageview:disabled {
    -fx-opacity: 1.0;
}
.circles {
    -fx-fill: #CBCCCB;              /* Заливка (фон) */
    -fx-stroke: #000000;           /* Цвет границы */
    -fx-stroke-width: 2px;         /* Толщина границы */
}
.transformer {
    -fx-fill: transparent;
    -fx-stroke: #000000;
    -fx-stroke-width: 4px;
}
transformer-red {
    -fx-fill: transparent;
    -fx-stroke: #D9232A;
    -fx-stroke-width: 4px;
}
transformer-green {
    -fx-fill: transparent;
    -fx-stroke: #6AB74D;
    -fx-stroke-width: 4px;
}
.dif-protection-button-one {
    -fx-border-color: #000000;
    -fx-pref-width: 200px; /* Желаемая ширина */
    -fx-pref-height: 70px; /* Желаемая высота */
    -fx-min-width: 200px; /* Минимальная ширина */
    -fx-min-height: 70px; /* Минимальная высота */
    -fx-max-width: 200px;
    -fx-max-height: 70px;
    -fx-background-color: #FFFFFF;
    -fx-text-fill: #6AB74D;
    -fx-border-width: 1;
    -fx-background-radius: 0;
    -fx-border-radius: 0;
    -fx-background-insets: 0;
    -fx-border-insets: 0;
    -fx-padding: 0px;
}
.dif-protection-button-one:disabled {
    -fx-opacity: 1.0;
}
.dif-protection-button-two {
    -fx-border-color: #000000;
    -fx-pref-width: 60px; /* Желаемая ширина */
    -fx-pref-height: 70px; /* Желаемая высота */
    -fx-min-width: 60px; /* Минимальная ширина */
    -fx-min-height: 70px; /* Минимальная высота */
    -fx-max-width: 60px;
    -fx-max-height: 70px;
    -fx-background-color: #FFFFFF;
    -fx-text-fill: #005286;
    -fx-border-width: 1;
    -fx-background-radius: 0;
    -fx-border-radius: 0;
    -fx-background-insets: 0;
    -fx-border-insets: 0;
    -fx-padding: 0px;
}
.dif-protection-button-two:disabled {
    -fx-opacity: 1.0;
}
.dif-protection-button-two-second {
    -fx-border-color: #000000;
    -fx-pref-width: 60px; /* Желаемая ширина */
    -fx-pref-height: 70px; /* Желаемая высота */
    -fx-min-width: 60px; /* Минимальная ширина */
    -fx-min-height: 70px; /* Минимальная высота */
    -fx-max-width: 60px;
    -fx-max-height: 70px;
    -fx-background-color: #FFFFFF;
    -fx-text-fill: #6AB74D;
    -fx-border-width: 1;
    -fx-background-radius: 0;
    -fx-border-radius: 0;
    -fx-background-insets: 0;
    -fx-border-insets: 0;
    -fx-padding: 0px;
}
.dif-protection-button-two:disabled {
    -fx-opacity: 1.0;
}
.comtrade-button {
    -fx-border-color: #000000;
    -fx-pref-width: 300px; /* Желаемая ширина */
    -fx-pref-height: 70px; /* Желаемая высота */
    -fx-min-width: 300px; /* Минимальная ширина */
    -fx-min-height: 70px; /* Минимальная высота */
    -fx-max-width: 300px;
    -fx-max-height: 70px;
    -fx-background-color: #FFFFFF;
    -fx-text-fill: #000000;
    -fx-border-width: 1;
    -fx-background-radius: 0;
    -fx-border-radius: 0;
    -fx-background-insets: 0;
    -fx-border-insets: 0;
    -fx-padding: 0px;
}


