.combo-box {
    -fx-background-color: #FFFFFF;
    -fx-background-radius: 0;
    -fx-border-radius: 0;
    -fx-border-color: #000000;
    -fx-pref-width: 175px; /* Желаемая ширина */
    -fx-pref-height: 52px; /* Желаемая высота */
    -fx-min-width: 175px; /* Минимальная ширина */
    -fx-min-height: 52px; /* Минимальная высота */
    -fx-max-width: 175px;
    -fx-max-height: 52px;
    -fx-padding: 0px;
}

.combo-box:disabled {
    -fx-opacity: 1.0;
}

.button-low-normal {
    -fx-border-color: #FFFFFF;
    -fx-pref-width: 200px; /* Желаемая ширина */
    -fx-pref-height: 70px; /* Желаемая высота */
    -fx-min-width: 200px; /* Минимальная ширина */
    -fx-min-height: 70px; /* Минимальная высота */
    -fx-max-width: 200px;
    -fx-max-height: 70px;
    -fx-background-color: #005286;
    -fx-text-fill: #FFFFFF;
    -fx-border-width: 2;
    -fx-background-radius: 0;
    -fx-border-radius: 0;
}
.button-low-normal:disabled {
    -fx-opacity: 1.0;
    -fx-background-color: #CBCCCB;
}
.button-low-enabled {
    -fx-border-color: #FFFFFF;
    -fx-pref-width: 200px; /* Желаемая ширина */
    -fx-pref-height: 70px; /* Желаемая высота */
    -fx-min-width: 200px; /* Минимальная ширина */
    -fx-min-height: 70px; /* Минимальная высота */
    -fx-max-width: 200px;
    -fx-max-height: 70px;
    -fx-background-color: #6AB74D;
    -fx-text-fill: #FFFFFF;
    -fx-border-width: 2;
    -fx-background-radius: 0;
    -fx-border-radius: 0;
}
.button-low-enabled:disabled {
    -fx-opacity: 1.0;
}
.button-low-warning {
    -fx-border-color: #FFFFFF;
    -fx-pref-width: 200px; /* Желаемая ширина */
    -fx-pref-height: 70px; /* Желаемая высота */
    -fx-min-width: 200px; /* Минимальная ширина */
    -fx-min-height: 70px; /* Минимальная высота */
    -fx-max-width: 200px;
    -fx-max-height: 70px;
    -fx-background-color: #D9232A;
    -fx-text-fill: #FFFFFF;
    -fx-border-width: 2;
    -fx-background-radius: 0;
    -fx-border-radius: 0;
}
.button-low-warning:disabled {
    -fx-opacity: 1.0;
}

.image-button {
    -fx-content-display: graphic-only;
    -fx-padding: 0px;
    -fx-background-radius: 0px;
    -fx-text-alignment: right;
    -fx-border-color: #000000;
    -fx-border-width: 2;
    -fx-background-color: #FFFFFF;
}
.image-button:disabled {
    -fx-opacity: 1.0;
}
.image-button-main {
    -fx-content-display: top;  /* Размещаем текст под изображением */
    -fx-alignment: center;         /* Выравнивание по центру */
    -fx-padding: 2px;             /* Небольшой отступ */
    -fx-background-radius: 0px;
    -fx-wrap-text: true;
    -fx-line-spacing: -5px;
    -fx-text-alignment: center;   /* Выравнивание текста по центру */
    -fx-border-color: #000000;
    -fx-border-width: 2px;
    -fx-background-color: #FFFFFF;
    -fx-graphic-text-gap: 5px;
    -fx-background-insets: 0;
    -fx-border-insets: 0;
}
.image-button-main .graphic {
    -fx-alignment: top-center;
}
.image-button:disabled {
    -fx-opacity: 1.0;
}
.text-object {
    -fx-border-color: #000000;
    -fx-background-color: #FFFFFF;
    -fx-border-width: 1;
    -fx-background-radius: 0;
    -fx-border-radius: 0;
}
.text-object:disabled {
    -fx-opacity: 1.0;
}
.imageview-base {
    -fx-padding: 0px;
    -fx-alignment: center;
}
.phase-button {
    -fx-border-color: #000000;
    -fx-pref-width: 200px; /* Желаемая ширина */
    -fx-pref-height: 70px; /* Желаемая высота */
    -fx-min-width: 200px; /* Минимальная ширина */
    -fx-min-height: 70px; /* Минимальная высота */
    -fx-max-width: 200px;
    -fx-max-height: 70px;
    -fx-background-color: #FFFFFF;
    -fx-text-fill: #6AB74D;
    -fx-border-width: 1;
    -fx-background-radius: 0;
    -fx-border-radius: 0;
    -fx-background-insets: 0;
    -fx-border-insets: 0;
}
.phase-button:disabled {
    -fx-background-color: #CBCCCB;
    -fx-opacity: 1.0;
}
.contacts-imageview {
    -fx-alignment: center;         /* Выравнивание по центру */
    -fx-padding: 0px;             /* Небольшой отступ */
    -fx-max-height: 50px;
    -fx-max-width: 50px;
    -fx-background-radius: 0px;
    -fx-border-color: #000000;
    -fx-border-width: 1px;
    -fx-background-color: #FFFFFF;
    -fx-background-insets: 0;
    -fx-border-insets: 0;
}
.contacts-imageview:disabled {
    -fx-opacity: 1.0;
}
.circles {
    -fx-fill: #CBCCCB;              /* Заливка (фон) */
    -fx-stroke: #000000;           /* Цвет границы */
    -fx-stroke-width: 2px;         /* Толщина границы */
}
.circles-two {
    -fx-fill: #6AB74D;              /* Заливка (фон) */
    -fx-stroke: #000000;           /* Цвет границы */
    -fx-stroke-width: 2px;         /* Толщина границы */
}
.transformer {
    -fx-fill: transparent;
    -fx-stroke: #000000;
    -fx-stroke-width: 5px;
}
.transformer-red {
    -fx-fill: transparent;
    -fx-stroke: #D9232A;
    -fx-stroke-width: 6px;
}
.transformer-green {
    -fx-fill: transparent;
    -fx-stroke: #6AB74D;
    -fx-stroke-width: 8px;
}
.dif-protection-button-one {
    -fx-border-color: #000000;
    -fx-pref-width: 200px; /* Желаемая ширина */
    -fx-pref-height: 70px; /* Желаемая высота */
    -fx-min-width: 200px; /* Минимальная ширина */
    -fx-min-height: 70px; /* Минимальная высота */
    -fx-max-width: 200px;
    -fx-max-height: 70px;
    -fx-background-color: #FFFFFF;
    -fx-text-fill: #6AB74D;
    -fx-border-width: 1;
    -fx-background-radius: 0;
    -fx-border-radius: 0;
    -fx-background-insets: 0;
    -fx-border-insets: 0;
    -fx-padding: 0px;
}
.dif-protection-button-one:disabled {
    -fx-opacity: 1.0;
}
.dif-protection-button-two {
    -fx-border-color: #000000;
    -fx-pref-width: 60px; /* Желаемая ширина */
    -fx-pref-height: 70px; /* Желаемая высота */
    -fx-min-width: 60px; /* Минимальная ширина */
    -fx-min-height: 70px; /* Минимальная высота */
    -fx-max-width: 60px;
    -fx-max-height: 70px;
    -fx-background-color: #FFFFFF;
    -fx-text-fill: #005286;
    -fx-border-width: 1;
    -fx-background-radius: 0;
    -fx-border-radius: 0;
    -fx-background-insets: 0;
    -fx-border-insets: 0;
    -fx-padding: 0px;
}
.dif-protection-button-two:disabled {
    -fx-opacity: 1.0;
}
.dif-protection-button-two-second {
    -fx-border-color: #000000;
    -fx-pref-width: 60px; /* Желаемая ширина */
    -fx-pref-height: 70px; /* Желаемая высота */
    -fx-min-width: 60px; /* Минимальная ширина */
    -fx-min-height: 70px; /* Минимальная высота */
    -fx-max-width: 60px;
    -fx-max-height: 70px;
    -fx-background-color: #FFFFFF;
    -fx-text-fill: #6AB74D;
    -fx-border-width: 1;
    -fx-background-radius: 0;
    -fx-border-radius: 0;
    -fx-background-insets: 0;
    -fx-border-insets: 0;
    -fx-padding: 0px;
}
.dif-protection-button-two-second:disabled {
    -fx-opacity: 1.0;
}
.comtrade-button {
    -fx-border-color: #000000;
    -fx-pref-width: 450px; /* Желаемая ширина */
    -fx-pref-height: 70px; /* Желаемая высота */
    -fx-min-width: 300px; /* Минимальная ширина */
    -fx-min-height: 70px; /* Минимальная высота */
    -fx-max-width: 1000px;
    -fx-max-height: 70px;
    -fx-background-color: #FFFFFF;
    -fx-text-fill: #000000;
    -fx-border-width: 1.5;
    -fx-background-radius: 0;
    -fx-border-radius: 0;
    -fx-background-insets: 0;
    -fx-border-insets: 0;
    -fx-padding: 0px;
}
.apply-button {
    -fx-border-color: #000000;
    -fx-pref-width: 130px; /* Желаемая ширина */
    -fx-pref-height: 42px; /* Желаемая высота */
    -fx-min-width: 130px; /* Минимальная ширина */
    -fx-min-height: 42px; /* Минимальная высота */
    -fx-max-width: 130px;
    -fx-max-height: 42px;
    -fx-background-color: #FFFFFF;
    -fx-text-fill: #000000;
    -fx-border-width: 1.5;
    -fx-background-radius: 0;
    -fx-border-radius: 0;
    -fx-background-insets: 0;
    -fx-border-insets: 0;
    -fx-padding: 0px;
}
.button-group {
    -fx-border-color: #000000;
    -fx-pref-width: 50px; /* Желаемая ширина */
    -fx-pref-height: 50px; /* Желаемая высота */
    -fx-min-width: 50px; /* Минимальная ширина */
    -fx-min-height: 50px; /* Минимальная высота */
    -fx-max-width: 50px;
    -fx-max-height: 50px;
    -fx-background-color: #FFFFFF;
    -fx-text-fill: #000000;
    -fx-border-width: 1;
    -fx-background-radius: 0;
    -fx-border-radius: 0;
    -fx-background-insets: 0;
    -fx-border-insets: 0;
    -fx-padding: 0px;
}
.button-group:disabled {
    -fx-opacity: 1.0;
}

.button-module-on{
    -fx-alignment: center;         /* Выравнивание по центру */
    -fx-padding: 0px;             /* Небольшой отступ */
    -fx-background-radius: 10px;
    -fx-border-width: 0px;
    -fx-background-insets: 0;
    -fx-border-insets: 0;
    -fx-background-color: derive(#00FF7F, 20%);
}

.button-module-on:disabled{
    -fx-opacity: 1.0;
}

.button-module-off{
    -fx-alignment: center;         /* Выравнивание по центру */
    -fx-padding: 0px;             /* Небольшой отступ */
    -fx-background-radius: 10px;
    -fx-border-width: 0px;
    -fx-background-insets: 0;
    -fx-border-insets: 0;
    -fx-background-color: transparent;
}

.button-module-off:disabled{
    -fx-opacity: 1.0;
}
.button-module-blink{
    -fx-background-color: transparent;
}

.check-box .box {
    -fx-background-color: rgba(255, 255, 255, 0.0);
    -fx-border-color: #000000;
    -fx-border-width: 4px;
    -fx-pref-width: 52px;
    -fx-pref-height: 52px;
    -fx-alignment: center;
}

.check-box-new .box {
    -fx-background-color: rgba(255, 255, 255, 0.0);
    -fx-border-color: #000000;
    -fx-border-width: 4px;
    -fx-pref-width: 42px;
    -fx-pref-height: 42px;
    -fx-alignment: center;
}

.check-box-new .mark {
    -fx-background-color: #ff0000;

    -fx-scale-x: 0.9;
    -fx-scale-y: 0.9;
    -fx-padding: 0;
    -fx-background-insets: 0;
    -fx-max-width: 32px;
    -fx-max-height: 32px;
    -fx-min-width: 32px;
    -fx-min-height: 32px;
}

.check-box-new:selected .mark {
    -fx-opacity: 1;
}

.check-box-new .mark {
    -fx-opacity: 0;
}

.check-box .mark {
    -fx-background-color: #ff0000;

    -fx-scale-x: 0.9;
    -fx-scale-y: 0.9;
    -fx-padding: 0;
    -fx-background-insets: 0;
    -fx-max-width: 42px;
    -fx-max-height: 42px;
    -fx-min-width: 42px;
    -fx-min-height: 42px;
}

/* Чтобы форма точно прорисовывалась при выборе */
.check-box:selected .mark {
    -fx-opacity: 1;
}

.check-box .mark {
    -fx-opacity: 0;
}

.warning {
    -fx-border-color: #D9232A;
    -fx-border-width: 2;
}

.list-view .list-cell:selected {
    -fx-background-color: transparent;
    -fx-text-fill: black;
}

.list-view .list-cell:focused {
    -fx-background-color: transparent;
}

.list-view .list-cell {
    -fx-background-color: transparent;
}

.list-view {
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-background-insets: 0;
}

.list-view .list-cell:hover {
    -fx-background-color: transparent;
}

.list-view .scroll-bar .increment-button,
.list-view .scroll-bar .decrement-button {
    -fx-padding: 0;
    -fx-shape: "";
    -fx-background-color: transparent;
    -fx-opacity: 0;
    -fx-max-height: 0;
    -fx-max-width: 0;
}

.list-view .scroll-bar:vertical {
    -fx-opacity: 0;
    -fx-pref-width: 18px;
    -fx-transition: opacity 0.6s ease-in-out;
}

.list-view:hover .scroll-bar:vertical {
    -fx-opacity: 1;
}

.list-view .scroll-bar:vertical .track {
    -fx-background-color: #CBCCCB;
    -fx-background-radius: 0px;
}
.list-view .scroll-bar:vertical .thumb {
    -fx-background-color: #929292;
    -fx-background-radius: 0px;
}

.list-view .scroll-bar {
    -fx-background-color: transparent;
}





