.button-common {
    -fx-border-width: 2;
    -fx-background-radius: 0;
    -fx-border-radius: 0;
    -fx-font-family: "PF Din Text Cond Pro";
    -fx-font-weight: 500;
}
.button-common:disabled {
    -fx-opacity: 1.0;
}
.button-low-default {
    -fx-border-color: #FFFFFF;
    -fx-pref-width: 200px; /* Желаемая ширина */
    -fx-pref-height: 70px; /* Желаемая высота */
    -fx-min-width: 200px; /* Минимальная ширина */
    -fx-min-height: 70px; /* Минимальная высота */
    -fx-max-width: 200px;
    -fx-max-height: 70px;
    -fx-background-color: #005286;
    -fx-font-size: 36;
    -fx-text-fill: #FFFFFF;
}
.button-low-normal {
    -fx-border-color: #FFFFFF;
    -fx-pref-width: 200px; /* Желаемая ширина */
    -fx-pref-height: 70px; /* Желаемая высота */
    -fx-min-width: 200px; /* Минимальная ширина */
    -fx-min-height: 70px; /* Минимальная высота */
    -fx-max-width: 200px;
    -fx-max-height: 70px;
    -fx-background-color: #005286;
    -fx-font-size: 36;
    -fx-text-fill: #FFFFFF;
}
.button-low-enabled {
    -fx-border-color: #FFFFFF;
    -fx-pref-width: 200px; /* Желаемая ширина */
    -fx-pref-height: 70px; /* Желаемая высота */
    -fx-min-width: 200px; /* Минимальная ширина */
    -fx-min-height: 70px; /* Минимальная высота */
    -fx-max-width: 200px;
    -fx-max-height: 70px;
    -fx-background-color: #6AB74D;
    -fx-font-size: 36;
    -fx-text-fill: #FFFFFF;
}
.button-low-warning {
    -fx-border-color: #FFFFFF;
    -fx-pref-width: 200px; /* Желаемая ширина */
    -fx-pref-height: 70px; /* Желаемая высота */
    -fx-min-width: 200px; /* Минимальная ширина */
    -fx-min-height: 70px; /* Минимальная высота */
    -fx-max-width: 200px;
    -fx-max-height: 70px;
    -fx-background-color: #D9232A;
    -fx-font-size: 36;
    -fx-text-fill: #FFFFFF;
}
.button-low-locked {
    -fx-border-color: #FFFFFF;
    -fx-pref-width: 200px; /* Желаемая ширина */
    -fx-pref-height: 70px; /* Желаемая высота */
    -fx-min-width: 200px; /* Минимальная ширина */
    -fx-min-height: 70px; /* Минимальная высота */
    -fx-max-width: 200px;
    -fx-max-height: 70px;
    -fx-background-color: #CBCCCB;
    -fx-font-size: 36;
    -fx-text-fill: #FFFFFF;
}
.image-button {
    -fx-content-display: graphic-only;
    -fx-padding: 0px;
    -fx-background-radius: 0px;
    -fx-text-alignment: right;
    -fx-border-color: #000000;
    -fx-border-width: 2;
    -fx-background-color: #FFFFFF;
}

